<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" 
           path="*" 
           verb="*" 
           modules="AspNetCoreModuleV2" 
           resourceType="Unspecified"/>
    </handlers>

    <!-- Leave this if you need classic modules for static files, etc. -->
    <modules runAllManagedModulesForAllRequests="true" />

    <!-- 
      1) module must match your AddHandler above 
      2) hostingModel=InProcess (or OutOfProcess) 
      3) arguments must point at your real DLL name
    -->
    <aspNetCore 
      processPath="dotnet" 
      arguments=".\Pronto.ValuationApi.dll"
      stdoutLogEnabled="false" 
      stdoutLogFile=".\logs\stdout"
      hostingModel="InProcess"
      module="AspNetCoreModuleV2" />
  </system.webServer>
</configuration>
